<div class="aboutmeFrame">
  <div class="frame-flip" [class.flipped]="flipped">
    <!-- fronte -->
    <div class="frame-face front">
      <img src="../../assets/Cornice.png" alt="Cornice fronte" />
    </div>
    <!-- retro -->
    <div class="frame-face back">
      <img src="../../assets/Cornice_retro.png" alt="Cornice retro" />
      <div class="retro-text">
        <h2>About Me</h2>
        <p>Benvenuto!...</p>
        <button (click)="CloseAboutMe()">Chiudi</button>
      </div>
    </div>
  </div>
</div>
