
.aboutmeFrame {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
    overflow-y: auto;
    background-color: #cdcbc1;
}
.frame-flip {
    width: 100vw;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}
.frame-flip.flipped {
    transform: rotateY(180deg);
}
.frame-face {
    position: absolute;
    width: 100vw;
    height: auto;
    backface-visibility: hidden;

    img {
        width: 100%;
        height: auto;
        display: block; 
    }
}
.front {
    transform: rotateY(0deg);
}
.back {
    transform: rotateY(180deg);
    position: relative;
}
.oval-container{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66%;
    height: 64%;
    clip-path: ellipse(50% 50% at 50% 50%);
    //background-color: rgba(255, 0, 0, 0.527);

    container-type: inline-size;
}


.retro-text {
    text-align: center;
    line-height: 1.1;
    padding: 1vh 2vw;
    color: #1e0e03;
    font-family: 'EB Garamond', serif;
    z-index: 2;

    font-size: 2.5cqi;
}


.retro-text div {
    margin-bottom: 2.5vh;
    opacity: 0.8;
    transition: all 0.5s ease;
    cursor: default;
}

.retro-text div:hover {
    opacity: 1;text-shadow: 0 0 8px rgba(68, 43, 19, 0.432);
    transform: scale(1.01);
}

.retro-text div h5{
    padding: 2vh 12vw 0vh 12vw;
}

.before-end {
    padding: 0vh 4vw 0vh 4vw;
}
.end {
    padding: 0vh 6vw 0vh 6vw;
}

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.9) 100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
    z-index: 999;
}

.dark-overlay.active {
    opacity: 1;
}


.foto-preview {
    position: fixed;
    transform: translateY(-50%) scale(0.8);
    max-width: 40vw;
    max-height: auto;

    -webkit-mask-image: radial-gradient(circle, black 40%, rgba(0, 0, 0, 0) 90%);
    mask-image: radial-gradient(circle, black 40%, rgba(0, 0, 0, 0) 90%);

    filter: sepia(0.2) brightness(0.9) contrast(1.1);
    
    opacity: 0;
    transition: opacity 0.8s ease,transform 1.2s ease-out;
    z-index: 1000;
    pointer-events: none;
}

.foto-preview.active {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.left-side {
    left: 5%;
    right: auto;
}

.right-side {
    right: 5%;
    left: auto;
}

.discover-it{
    cursor: url('../../assets/lente.png') 16 16, auto;
    font-weight: 600;
    color: #dec57f;
    transition: all 0.3s ease;
    display: inline-block;

    &:hover {
        color: #685127;
        text-shadow: 0 0 5px rgba(139, 69, 19, 0.2);
    } }

.close-btn{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.ContactMe{
    background: none;
    background-color: transparent;
    margin-left: 3%;
    border: none;
    padding: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    width: 7%;
}

.CloseAboutMe {
    background: none;
    display: flex;
    flex-direction:row-reverse;
    background-color: transparent;
    margin-right: 3%;
    border: none;
    padding: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    width: 7%;
}

@media (max-width: 768px) {
    .retro-text .about-me-description {
        max-height: 0;
        opacity: 0;
        margin: 0;
        overflow: hidden;
        transition: max-height 0.5s ease, opacity 0.5s ease, margin 0.5s ease;
    }

    .retro-text .about-me-description.active {
        max-height: 500px;
        opacity: 1;
        margin-bottom: 2.5vh;
    }

        .oval-container {
            position: absolute;
            top: 53%;
            left: 49%;
            transform: translate(-50%, -50%);
            width: 66%;
            height: 64%;
            clip-path: ellipse(50% 50% at 50% 50%);
            //background-color: rgba(255, 0, 76, 0.527);
    
            container-type: inline-size;
        }
.retro-text {
    font-size: 2.4cqi;
}       
}
@media (max-width: 650px) {
    .oval-container {
        position: absolute;
        top: 53%;
        left: 49%;
        transform: translate(-50%, -50%);
        width: 65%;
        height: 63%;
        clip-path: ellipse(50% 50% at 50% 50%);
        //background-color: rgba(94, 255, 0, 0.527);

        container-type: inline-size;
    }
.retro-text {
    font-size: 2.3cqi;   }
}
@media (max-width: 500px) {
    .oval-container {
            position: absolute;
            top: 53%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 65%;
            height: 64%;
            clip-path: ellipse(50% 50% at 50% 50%);
            //background-color: rgba(47, 0, 255, 0.527);
    
            container-type: inline-size;
        }
 .retro-text {
    font-size: 2.2cqi;
                }       
}