.overlay-container {
  position: relative;  
  display: inline-block;
}

.roomContainer {
    position: relative;
    width: 100%;
}

.roomImage {
    width: 100%;
    height: auto;
    display: block;
}

.roomOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.button {
    pointer-events: all;
    cursor: pointer;
    fill: transparent;

}

.tv-hitbox {
    fill: transparent;
    pointer-events: all;
    cursor: pointer;
}

.tv-glitch {
    pointer-events: none;

    transform-box: fill-box;
    transform-origin: center;

    animation: tvGlitch 0.15s infinite;
    opacity: 0.85;
    mix-blend-mode: screen;
}

.roomOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Closebutton {
    fill: rgb(255, 115, 0);
    pointer-events: all;
    cursor: pointer;
}

.tv-project {
    transform-box: fill-box;
    transform-origin: center;
    transition: transform 0.4s ease;
}

.tv-icon {
    fill: #130f06;
    font-family: 'Courier New', monospace;
    font-size: 25px;
    font-weight: bold;
    pointer-events: none;
    text-shadow: 0 0 5px black;
}

.tv-glitch {
    pointer-events: none;

    transform-box: fill-box;
    transform-origin: center;

    animation: tvGlitch 0.15s infinite;
    transition: transform 0.4s ease-in-out;
    mix-blend-mode: normal;
}


.tv-project:hover {
    transform: scale(1.4);
}

.tv-project:hover .tv-glitch {
    animation-play-state: paused;
}

@keyframes tvGlitch {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-1px, 0);
    }

    50% {
        transform: translate(1px, 0);
    }

    75% {
        transform: translate(0, -1px);
    }

    100% {
        transform: translate(0, 0);
    }
}


.vortex-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.form-container {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    margin: 0 auto;
    width: 100%;
}

.form-image-macchina {
    width: 100%;
    display: block;
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.form-paper {
    position: absolute;
    height: 70%;
    left: 50%;
    width: 43%;
    bottom: 0;
    background: #d2c19e;
    z-index: 1;

    animation: paperEnter 1s ease-out forwards;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 3%;
    box-sizing: border-box;
}

.form-paper.enter {
    transform: translateX(-50%) translateY(100%);
}

.form-paper.sended {
    //animation: paperExit 0.25s ease-in forwards;
    animation: paperExit 0.28s cubic-bezier(.8, 0, .9, .2) forwards;
    transform: translateX(-50%) translateY(-150vh) rotate(-5deg);
    opacity: 0;
    transition: transform 0.6s ease-in, opacity 0.4s ease-in;
}

@keyframes paperEnter {
    from {
        transform: translateX(-50%) translateY(100%);
    }

    to {
        transform: translateX(-50%) translateY(-30%);
    }
}

@keyframes paperExit {
    from {
        transform: translateX(-50%) translateY(-30%);
    }

    to {
        transform: translateX(-50%) translateY(-100%);
    }
}


.email-form {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    font-size: clamp(10px, 1.1x, 18px);
    margin-bottom: 0.3em;
}

.email-form input,
.email-form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.6em 0.7em;

    border: none;
    border-bottom: 1px solid #6b5a3cad;
    background: transparent;
}

.email-form textarea {
    resize: none;
    height: 8em;
}

.form-actions button {
    font-size: clamp(10px, 1vw, 16px);
    padding: 0.6em 1.4em;
    background-color: #d2c19e;
}

.form-row {
    display: flex;
    gap: 1em;
}

.field {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.form-lever {
    position: absolute;
    height: 80px;
    width: 40px;
    font-size: large;
    background-color: #d0c9bb;
    cursor: pointer;
    top: 48%;
    left: 23%;
    transform: translate(-50%, -50%);
    z-index: 10;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
}

.contact-container {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1000;
    overflow-y: auto;

 }

 .phone-container{
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .phone {
    width: 100%; 
    display: block;
  }

 /* .contact-buttons { 
    margin: 20px; display: 
    flex; gap: 20px; 
}*/

  .contact-buttons a { 
    position: absolute;
    background: #1b1b1b;
    width: 1.5%;
    height: 1.5%;
    padding: 0.3% 1.2%;
    border-radius: 50%;
    text-decoration: none;
    color: #ffffff;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-buttons .fa-linkedin {
   top: 81.7%;
   left: 24.1%;
   transition: all 0.3s ease-in-out;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-phone:hover{
    text-shadow: 0 0 2px #ae875f;
    box-shadow: 0 0 8px #ae875f, 0 0 15px rgb(9 4 0);
}

.contact-buttons .fa-github {
    top: 82.2%;
    left: 33.4%;
}

.contact-buttons .fa-phone {
    top: 79%;
    left: 40%;
}

.close-btn { 
    background: #070806; 
    color: #ddd3c1; 
    border: none; 
    //padding: 8px 16px; 
    border-radius: 6px; cursor: pointer;
    position: absolute; 
}

.contact-buttons .close-btn {
    top: 95%;
    left: 46%;
}