<section id="roomScene" *ngIf="roomIsVisible">
  <div class="roomContainer">
    <img src="assets/Sfondo_mainPage6.png" alt="Stanza" class="roomImage" />
    <svg
      class="roomOverlay"
      viewBox="0 0 1920 1080"
      preserveAspectRatio="xMidYMid meet"
    >
      <!--Project -->
      <g class="tv-project" (click)="OpenProject()">
        <rect
          x="1335"
          y="696"
          width="62"
          height="50"
          rx="14"
          ry="14"
          class="tv-hitbox"
        />
        <image
          href="assets/tv-noise.jpg"
          x="1335"
          y="696"
          width="62"
          height="50"
          preserveAspectRatio="xMidYMid slice"
          rx="14"
          ry="14"
          class="tv-glitch"
        />
        <text x="1366" y="725" text-anchor="middle" class="tv-icon">
          &lt;/&gt;
        </text>
      </g>

      <!--About me-->
      <image
        href="assets/Cornice1.png"
        x="20"
        y="-140"
        width="450"
        height="800"
        preserveAspectRatio="xMidYMid slice"
        *ngIf="!AboutMe"
      />
      <rect
        x="100"
        y="70"
        width="300"
        height="550"
        class="button"
        (click)="OpenAboutMe()"
      />

      <!--Contact -->
      <g>
        <image
          href="assets/Telefono.png"
          x="180"
          y="640"
          width="400"
          height="550"
          preserveAspectRatio="xMidYMid slice"
          *ngIf="!Contact"
        />
        <rect
          x="250"
          y="700"
          width="200"
          height="250"
          class="button"
          *ngIf="!Contact"
          (click)="OpenContact()"
        />
      </g>
      <!-- Form -->
      <image
        href="assets/MacchinaDaScrivere.png"
        x="0"
        y="630"
        width="400"
        height="550"
        *ngIf="!Form"
      />
      <rect
        x="40"
        y="800"
        width="250"
        height="250"
        class="button"
        (click)="OpenForm()"
      />
    </svg>
     <div class="contact-container" *ngIf="Contact"> 
        <div class="phone-container"> 
          <img src="assets/contact-telefono.png" class="phone" /> 
          <div class="contact-buttons"> 
            <a href="https://my.linkedin.com/in/elisa-puorto/en" class="fab fa-linkedin" target="_blank"></a> 
            <a href="https://github.com/E9-P8" class="fab fa-github" target="_blank"></a> 
            <a href="https://calendly.com/puorto-elisa" class="fas fa-phone" alt="Prendiamoci un caffe virtuale" target="_blank"></a> 
           <button class="close-btn" (click)="CloseContact()">Chiudi</button> 
           </div>
        </div> 
      </div>
    <div class="form-container" *ngIf="Form">
      <div class="form-macchina">
        <img src="../assets/Macchina-form.png" class="form-image-macchina" />
      <div class="form-paper" *ngIf="paperVisible" [class.sended]="isSended">
        <form class="email-form">
          <div class="form-row">
            <div class="field">
              <label>Nome</label>
              <input
                type="text"
                placeholder="Nome"
                [(ngModel)]="form.name"
                name="name"
                required
              />
            </div>

            <div class="field">
              <label>Cognome</label>
              <input
                type="text"
                placeholder="Cognome"
                [(ngModel)]="form.surname"
                name="surname"
                required
              />
            </div>
          </div>

          <div class="field">
            <label>Email</label>
            <input
              type="email"
              placeholder="Email"
              [(ngModel)]="form.email"
              name="email"
              required
            />
          </div>

          <div class="field">
            <label>Scrivimi qui la tua richiesta</label>
            <textarea
              placeholder="..."
              [(ngModel)]="form.message"
              name="message"
              required
            ></textarea>
          </div>

          <div class="form-actions">
            <button type="button" (click)="CloseForm()">Chiudi</button>
          </div>
        </form>
      </div>
      
        <button type="button" class="form-lever" (click)="sendEmail()">
          Invia
        </button>
      </div>
    </div>
  </div>
</section>
