<div class="main-Page">
  <section id="LockScene" *ngIf="LockScene">
    <div class="lockWrapper">
      <img
        src="../assets/Serratura.png"
        alt="Serratura"
        class="lockItem lackLayer"
      />
      <img
        src="../assets/Chiave.png"
        alt=""
        class="lockItem key"
        (click)="rotateKey()"
        [class.keyRotate]="isRotated"
      />
      <img
        src="../assets/Serratura_conver.png"
        alt=""
        class="lockItem frontLayer"
      />
      <p>Gira la chiave per entrare</p>
    </div>
  </section>
  <app-room-scene
    *ngIf="roomIsVisible"
    (tvClicked)="OpenProject()"
    (frameClicked)="OpenAboutMe()"
    [ContactMe]="shouldOpenPhone"
  ></app-room-scene>
  <app-project
    *ngIf="showProject"
    (ProjectClosed)="CloseProject()"
  ></app-project>
  <app-about-me
    *ngIf="showAboutMe"
    (AboutMeClosed)="CloseAboutMe()"
    (contactRequested)="handleContactRequest()"
  ></app-about-me>
</div>
