
.main-Page {

    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;

}
.lockWrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
};
.lockItem{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 40%;
};
.lockWrapper p{
    position: absolute;
    top: 49%;
    left: 59%;
    color: #d6bd8a;
    font-size: 1.2rem;
    font-family: 'Pinyon Script', cursive;
}

.key{
    position: absolute;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 55% 52%;
    transition: transform 0.35s ease-out;
    cursor: pointer;
};  

.keyRotate{
   // transform: rotate(15deg);
    transform: translate(-50%, -50%) rotate(15deg);
};

.frontLayer{
    z-index: 3;
    pointer-events: none;
};
.backLayer{
    z-index: 1;
};


.lockScene{
    height: 100vh;
    overflow: hidden;
};
.roomContainer {
    position: relative;
    width: 100%;
}

.roomImage {
    width: 100%;
    height: auto;
    display: block;
}

.roomOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.button {
    pointer-events: all;
    cursor: pointer;
    fill: transparent; 
    
}

.tv-hitbox {
    fill: transparent;
    pointer-events: all;
    cursor: pointer; 
}

.tv-glitch {
    pointer-events: none;

    transform-box: fill-box;
    transform-origin: center;

    animation: tvGlitch 0.15s infinite;
    opacity: 0.85;
    mix-blend-mode: screen; }

.main-Page {

    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;

}

.lockWrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

;

.lockItem {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 40%;
}

;

.lockWrapper p {
    position: absolute;
    top: 49%;
    left: 59%;
    color: #d6bd8a;
    font-size: 1.2rem;
    font-family: 'Pinyon Script', cursive;
}

.key {
    position: absolute;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 55% 52%;
    transition: transform 0.35s ease-out;
    cursor: pointer;
}

;

.keyRotate {
    // transform: rotate(15deg);
    transform: translate(-50%, -50%) rotate(15deg);
}

;

.frontLayer {
    z-index: 3;
    pointer-events: none;
}

;

.backLayer {
    z-index: 1;
}

.lockScene {
    height: 100vh;
    overflow: hidden;
}

.roomContainer {
    position: relative;
    width: 100%;
}

.roomImage {
    width: 100%;
    height: auto;
    display: block;
}

.roomOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.Closebutton {
    fill: rgb(255, 115, 0);
    pointer-events: all;
    cursor: pointer;
}


.tv-project{
    transform-box: fill-box;
    transform-origin: center;
    transition: transform 0.4s ease;
}
.tv-icon {
    fill: #130f06;
    font-family: 'Courier New', monospace;
    font-size: 25px;
    font-weight: bold;
    pointer-events: none;
    text-shadow: 0 0 5px black;
}

.tv-hitbox {
    fill: transparent;
    pointer-events: all;
    cursor: pointer;
}

.tv-glitch {
    pointer-events: none;

    transform-box: fill-box;
    transform-origin: center;

    animation: tvGlitch 0.15s infinite;
    transition: transform 0.4s ease-in-out;
    mix-blend-mode: normal;
}


.tv-project:hover{
        transform: scale(1.4); }
        
.tv-project:hover .tv-glitch {
        animation-play-state: paused;         }

@keyframes tvGlitch {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-1px, 0);
    }

    50% {
        transform: translate(1px, 0);
    }

    75% {
        transform: translate(0, -1px);
    }

    100% {
        transform: translate(0, 0);
    }
}
//{}


.form-container {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
    
.form-image-macchina {
    width: 100%;
    display: block;
    position: relative;
    z-index: 2;
    pointer-events: none;
}
.form-paper {
    position: absolute;

    height:70%;
    left: 50%;
    max-width: 43%;
    bottom: 0;
    z-index: 1;
    background: #d2c19e;
    
    transform: translateX(-50%) translateY(100%);
    
    animation: slideUp 1s ease-out forwards;

    font-size: 1.1vw;
}


@keyframes slideUp {
    from {
        transform: translateX(-50%) translateY(100%);
    }

    to {
        transform: translateX(-50%) translateY(-30%);
    } }

.email-form{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

        /* LEVA 
        .lever {
            position: absolute;
            right: -40px;
            top: 220px;
            width: 40px;
            height: 120px;
            cursor: pointer;     } */