
.main-Page {

    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;

}
.lockWrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
};
.lockItem{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 40%;
};
.lockWrapper p{
    position: absolute;
    top: 49%;
    left: 59%;
    color: #d6bd8a;
    font-size: 1.2rem;
    font-family: 'Pinyon Script', cursive;
}

.key{
    position: absolute;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 55% 52%;
    transition: transform 0.35s ease-out;
    cursor: pointer;
};  

.keyRotate{
   // transform: rotate(15deg);
    transform: translate(-50%, -50%) rotate(15deg);
};

.frontLayer{
    z-index: 3;
    pointer-events: none;
};
.backLayer{
    z-index: 1;
};


.lockScene{
    height: 100vh;
    overflow: hidden;
};
.roomContainer {
    position: relative;
    width: 100%;
}

.roomImage {
    width: 100%;
    height: auto;
    display: block;
}

.roomOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.tv {
   // fill: transparent;
    pointer-events: all;
    cursor: pointer;
    border-radius: 55px;
}

/* debug */
.tv:hover {
    fill: rgba(255, 0, 0, 0.35); }