<div class="main-Page">
  <section id="LockScene" *ngIf="!roomIsVisible">
    <div class="lockWrapper">
      <img src="../assets/Serratura.png" alt="" class="lockItem lackLayer" />
      <img
        src="../assets/Chiave.png"
        alt=""
        class="lockItem key"
        (click)="rotateKey()"
        [class.keyRotate]="isRotated"
      />
      <img
        src="../assets/Serratura_conver.png"
        alt=""
        class="lockItem frontLayer"
      />
      <p>Gira la chiave per entrare</p>
    </div>
  </section>
  <section id="roomScene" *ngIf="roomIsVisible">
    <div class="roomContainer">
      <img src="assets/Sfondo_mainPage5.png" alt="Stanza" class="roomImage" />
      <svg
        class="roomOverlay"
        viewBox="0 0 1920 1080"
        preserveAspectRatio="xMidYMid meet"
      >
        <rect x="1335" y="785" width="66" height="58" class="tv" />
        <rect x="400" y="480" width="120" height="80" class="tv" />
        <rect x="760" y="500" width="120" height="80" class="tv" />
      </svg>
    </div>
  </section>
</div>
