:root {
    --xOrigin: 50;
    --yOrigin: 50;
}

$rings: 20;

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tunnel {
    position: fixed; // copre tutto lo schermo
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 999; // sopra al resto

    &Rings {
        position: relative;
        transform-style: preserve-3d;
        height: 100%;
        width: 100%;
    }

    &Ring {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: scale(1.25); // parte grande
        transform-origin: calc(var(--xOrigin) * 1%) calc(var(--yOrigin) * 1%);
        animation: scaleIn 2s linear forwards;
        border-radius: 50%;

        @for $i from 1 through $rings {
                &:nth-of-type(#{$i}) {
                    background: darken(#4b4c4d, $i * 5%);
                    animation-delay: -($i - 1) * 0.20s; // negativo! 
                    } }
    }
}

@keyframes scaleIn {
    from {
        transform: scale(1.55) translate3d(0, 0, -100px); // grande e indietro
    }

    to {
        transform: scale(0) translate3d(0, 0, 0); // si restringe e “entra”
    }
}


h2 {
    color: white;
}